<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        User's gravatar image (hint: see users_helper.rb file)
        and User's name here
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> User's name here
      <br/>
      <strong>URL</strong> Link to this page here
    </td>
  </tr>
</table>
