<tr>
  <td class="gravatar">
    <%# image %>
  </td>
  <td class="micropost">
    <span class="user">
      <%#= link to user %>
    </span>
    <span class="content"><%#= content of feed entry (i.e. a micropost) %></span>
    <span class="timestamp">
      Posted <%#= posting time of micropost %> ago.
    </span>
  </td>
</tr>
