<div class="user_info">
  <a href="<%#= link to user %>">
    <%#= user's image %>
    <span class="user_name">
      <%#= user's name %>
    </span>
    <span class="microposts">
      <%# number of user's microposts %>
    </span>
  </a>
</div>
